@if (IsLoading)
{
    <Loading Message="@($"Pinging {Host}...")" HasError="HasUpdateError"
    ErrorMessage="@($"{LastUpdateErrorTimeDisplay}: Failed to ping {Host}. Retrying...")" />
}
else
{
    <div class="row align-items-center">
        <div class="ml-3 ml-sm-0 col-md-4">
            <CircularServerPlayerCount OnlinePlayers="@OnlinePlayers" MaxPlayers="@MaxPlayers" IsFull="@IsFull"
            IsFullExcludingQueue="@IsFullExcludingQueue" />
        </div>
        <div class="col-md">
            <div class="text-center text-sm-left">
                <h2>
                    <ServerLiveStatusDescription ServerName="@Name" IsFull="@IsFull" 
                        IsFullExcludingQueue="@IsFullExcludingQueue"
                        HasQueue="@HasQueue" />
                </h2>

                <p class="lead">last updated @LastUpdateTimeDisplay</p>

                <button class="btn btn-outline-secondary" type="button" @onclick="Refresh" disabled="@(!CanRefresh)">Refresh</button>
            </div>
        </div>
    </div>
    @if (HasUpdateError)
    {
        <div class="mt-2 small text-danger text-center">
            @LastUpdateErrorTimeDisplay: Failed to ping @Host.
        </div>
    }
}