<div>
    <h1 class="text-center text-sm-left">Status</h1>

    @if (IsLoading)
    {
        <div class="d-flex flex-column align-items-center mt-3">
            <div class="spinner-border" role="status" style="width: 5em; height: 5em;">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="mt-3 lead">Pinging @Host...</p>
        </div>
    }
    else
    {
        <div class="row align-items-center">
            <div class="ml-3 ml-sm-0 col-md-auto">
                <CircularServerPlayerCount OnlinePlayers="@OnlinePlayers" MaxPlayers="@MaxPlayers" IsFull="@IsFull"
    IsFullExcludingQueue="@IsFullExcludingQueue" />
            </div>
            <div class="col-md">
                <div class="text-center text-sm-left">
                    <h2>
                        @if (IsFull)
                        {
                            <div>@Name is full.</div>
                        }
                        else if (HasQueue && IsFullExcludingQueue)
                        {
                            <div>@Name is joinable, but there are players in the queue.</div>
                        }
                        else
                        {
                            <div>@Name is joinable. Play now!</div>
                        }
                    </h2>

                    <p class="lead">last updated @LastUpdateTimeDisplay</p>
                </div>
            </div>
        </div>
    }
</div>

<div class="mt-3">
    <h1 class="text-center text-sm-left">Settings</h1>
    <form class="mt-3 mx-md-4">
        @if (HasQueue)
        {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cbNotify" @bind="AllowNotifyJoinable">
                <label class="form-check-label" for="cbNotify">
                    Notify on joinable
                    <span class="font-weight-light">(less than @MaxPlayersExcludingQueue online players)</span>
                </label>
            </div>
            <div class="mt-3 form-check">
                <input type="checkbox" class="form-check-input" id="cbQueueNotify" @bind="AllowNotifyQueueJoinable">
                <label class="form-check-label" for="cbQueueNotify">
                    Notify on queue joinable
                    <span class="font-weight-light">(less than @MaxPlayers online players)</span>
                </label>
            </div>
        }
        else
        {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cbNotify" @bind="AllowNotifyJoinable">
                <label class="form-check-label" for="cbNotify">
                    Notify on joinable
                    <span class="font-weight-light">(less than @MaxPlayers online players)</span>
                </label>
            </div>
        }

        <div class="mt-3 form-group">
            <div class="row align-items-center">
                <label for="inputPingInterval" class="col-auto col-form-label pr-0">Server ping interval</label>
                <div class="col-auto d-flex flex-wrap align-items-center pr-0">
                    <input id="inputPingInterval"
class="form-control form-control-sm @InvalidServerStatusPingIntervalSecondsClass" type="number"
style="width: 75px; text-align: center;" @bind="ServerStatusPingIntervalSeconds"
                    @onfocusout="UpdatePingInterval"
                    @oninput="() => IsInvalidServerStatusPingIntervalSeconds = false">
                    <div class="pl-2 font-weight-light">seconds</div>
                </div>
            </div>

            @if (IsInvalidServerStatusPingIntervalSeconds)
            {
                <div class="row mt-1">
                    <div class="col">
                        <div class="small text-danger">
                            * Must be greater than 0 seconds.
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>
</div>
